
body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;

  display: flex;
  flex-direction: column;

  -webkit-font-smoothing: antialiased;
}

.main-header {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.main-navigation {
  > h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    > a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main {
  position: relative;

  display: flex;
  flex-grow: 1;
}

.main-sidebar {
  background-color: #eeeeee;
  padding: 20px 0;
}

.main-content {
  padding: 20px 30px;

  > h2 {
    margin: 0;
  }
}

.admin-section {
  > h2 {
    font-size: 14px;
    margin: 0;
    background-color: rgba(#000, 0.1);
    > a {
      display: block;
      padding: 5px 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;

      &:hover {
        background-color: rgba(#000, 0.2);
      }
    }
  }
  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    > li {
      > a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #000;
        &:hover {
          background-color: rgba(#000, 0.2);
        }
      }
    }
  }
}