
body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;

  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  margin: 0;
}

.main-header {
  background-color: black;
  color: white;

  padding: 10px 20px;

}

.main-navigation {
  > h1 {
    font-weight: normal;
    font-size: 26px;
    margin: 0;
  }
}

.main {
  position: relative;

  display: flex;
  flex-grow: 1;
}

.main-sidebar {
  padding: 20px;
  background-color: #eeeeee;
}

.main-content {
  padding: 20px;
}