{% load staticfiles %}
<div class="contenteditor-field" id="{{ id }}_editor">
  <section class="contenteditor-editors">
    <header>

    </header>
    <section class="contenteditor-rst">

    </section>
    <section class="contenteditor-nodes">
    </section>
  </section>
  <section class="contenteditor-preview">

  </section>
</div>
<input type="hidden" name="{{ name }}" value="{{ value }}" id="{{ id }}">

<script type="text/javascript">
  window.addEventListener('load', function () {
    require.config({
      baseUrl: "{% static "" %}"
    })(['content/content-field'], function (ContentField) {
      new ContentField('#{{ id }}_editor', [{% for plugin in plugins %}
        "{{ plugin.editor_plugin }}"{% if not forloop.last %}, {% endif %}{% endfor %}
      ]);
    });
  })
</script>