{# Publish state #}
{% if instance.is_publishable and can_publish %}
  <a class="button" href="{{ publish_url }}">Publish version {{ instance.latest_version.id }}</a>
{% endif %}

{# Review / request #}
{% if instance.is_requestable and can_request %}
  <a class="button" href="{{ request_url }}">Request publication</a>
{% elif instance.is_requested and can_publish and instance.is_publishable %}
  <a class="button" href="{{ review_url }}">Review version {{ instance.requested_version.id }} by {{ instance.requested_version.revision.user }}</a>
{% elif instance.is_requestable %}
  <label>Requested!</label>
{% endif %}

{# Unpublish #}
{% if instance.is_published and can_publish %}
  <a class="button" href="{{ unpublish_url }}">Unpublish version {{ instance.published_version.id }}</a>
{% endif %}
