.reek-pages {
    padding: 20px;
}

.reek-pages ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    justify-content: center;
}

.reek-root {
    cursor: copy;
}

.reek-pages li {
    display: block;
    flex: 1 1 auto;
}

.reek-vertical > ol {
    flex-flow: column nowrap;
}

.reek-page {
    display: block;
    margin: 0 auto 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: auto;

    width: 150px;
    height: 50px;

}

.reek-page h2 {
    cursor: move;
}

.module .reek-page.selected {
    background-color: #FFFFCC;
}

.module .reek-page.selected h2 {
}

.reek-page .action-select {
    display: block;
    float: right;
    margin: 2px 3px;
    cursor: pointer;
}