{% extends site.template_admin_base %}

{% block content %}
  <h2>{{ admin.verbose_name }}</h2>
  <p>
  <a href="{% url admin.urls.create.reverse_name %}">Voeg toe</a>
  </p>
  <table>
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="{% url admin.urls.update.reverse_name pk=object.pk %}">
            {{ object }}
          </a>
        </td>
        <td>
          <a href="{% url admin.urls.delete.reverse_name pk=object.pk %}">Verwijder</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
