{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>

  <link href="{% static "admin/css/admin.css" %}" rel="stylesheet">

</head>
<body>
<header class="main-header">
  {% block header %}
    <div class="main-navigation">
      <h1><a href="{% url site.urls.index.reverse_name %}">{{ site.name }}</a></h1>
      <nav class="navigation-home">
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url site.urls.logout.reverse_name %}">Log uit</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endblock header %}
</header>

<main class=" main">
  {% block main %}

    <aside class="main-sidebar">

      {% block sidebar %}
        <nav>
          {% for section in sections %}
            <section class="admin-section">
              <h2><a href="{% url section.urls.index.reverse_name %}">{{ section.verbose_name }}</a></h2>
              <ul>
                {% for admin in section.admins %}
                  {% with url_name=admin.urls.index.reverse_name %}
                    <li><a href="{% url url_name %}">{{ admin.verbose_name }}</a></li>
                  {% endwith %}
                {% endfor %}
              </ul>
            </section>

          {% endfor %}
        </nav>
      {% endblock sidebar %}

    </aside>

    <section class="main-content">

      {% block content %}
      {% endblock content %}
    </section>

  {% endblock main %}
</main>

<div class="lightbox-wrapper"></div>

</body>
</html>
