{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>

  <link href="{% static "admin/css/admin.css" %}" rel="stylesheet">

</head>
<body>
<header class="main-header">

  <div class="main-navigation">

    <h1>{{ site.name }}</h1>

    <nav class="navigation-home">

    </nav>


  </div>

</header>

<main class="main">
  {% block main %}

    <aside class="main-sidebar">

      {% block sidebar %}
        <nav>
          <ul>
            {% for admin in site.admins %}
              {% with url_name=admin.urls.list.reverse_name %}
                <li><a href="{% url url_name %}">{{ admin.get_label }}</a></li>
              {% endwith %}
            {% endfor %}
          </ul>
        </nav>
      {% endblock sidebar %}

    </aside>

    <section class="main-content">

      {% block content %}
      {% endblock content %}
    </section>

  {% endblock main %}
</main>

<div class="lightbox-wrapper"></div>

</body>
</html>
